################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ligotti/Debug/ligotti.exe
/ligotti/.vs/ligotti/v14
/ligotti/Debug
/ligotti/ligotti/Debug
/ligotti/ligotti.VC.VC.opendb
/ligotti/ligotti.VC.db
/ligotti/ligotti/ligotti.vcxproj
/ligotti/ligotti/ligotti.vcxproj.filters
